* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: white;
    color: black;
}

header {
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(23, 4, 77)
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem; 
    background-color: rgb(241, 241, 241);
    display: grid;
}

label {
    padding: 1rem;
    text-align: left;
    font-family: Merriweather;
    font-size: 1.2rem;
}

input, select, textarea {
    padding: 1rem;
    font-size: 1.2rem;
}

button {
    background-color: rgb(172, 0, 0);
    color: white;
    padding: 0.7rem; 
    margin:  1rem auto;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.7rem;
    width: 500px;
    
}

button:hover {
    background-color: rgb(218, 0, 0);
}

footer {
    margin: 0 auto;
    width: 700px;
    
    
}

footer h1 {
    font-size: 1.3rem;
    padding-top: 5rem;
}

